* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 100%;
  background-image: url(background.jpg);
}

.bookmark-hide {
  display: none;
}

h1 {
  text-align: center;
  font-size: 55px;
  margin: 0 auto;
}

.error-container {
  color: red;
  border: 3px black;
  margin: 10px;

  background-color: rgb(252, 238, 240);
}

.error-container h2 {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.error-container button {
  float: right;
  margin: 3px;
  font-size: 15px;
  background-color: white;
}

.error-container p {
  margin: 5px;
  text-align: center;
}

.main-container {
  text-align: center;
}

.flex-container {
  margin: 0 auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 238, 238);
  min-height: 100vh;
}

.button-add {
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: white;

  padding: 3px, 7px, 3px, 5px;
  margin-top: 10px;
  margin-left: 10px;
}

.filter-container {
  float: right;
  font-size: 20px;
  margin-top: 10px;
  margin-right: 10px;
}

#star-rating-filter {
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: white;
}

.bookmark-condensed-container {
  border: solid 2px darkgray;

  margin-top: 10px;
  margin-bottom: 0px;
  margin-right: 5px;
  margin-left: 5px;
  background-color: rgb(213, 173, 224);
}

.bookmark-name {
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
}

.bookmark-rating {
  margin-left: 15px;
  margin-bottom: 5px;
}

.checked {
  color: greenyellow;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.expand-button {
  float: right;
  font-size: 20px;
  background-color: white;

  margin-right: 5px;
  margin-top: 5px;
}

.bookmark-expand p,
a {
  margin-top: 0px;
  margin-left: 10px;
}
.bookmark-expand a {
  font-size: 16px;
}

a {
  margin-top: 10px;
}

a:hover {
  color: rgb(1, 22, 103);
}

.delete-button {
  font-size: 20px;
  font-family: sans serif;
  background-color: white;

  padding: 3px, 7px, 3px, 5px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.form {
  font-size: 20px;
}

input[type='radio'] {
  font-size: 5px;
}

input,
textarea {
  font-size: 20px;
  border: solid 2px darkgray;
}

#title,
#url {
  width: 100%;
}

textarea {
  resize: none;
  width: 100%;
}

input[type='submit'],
input[type='reset'],
input[type='button'] {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: white;
}

.url-warning-container {
  text-align: center;
}

.url-warning {
  margin: 0 auto;
  margin-bottom: 20px;
}

@media screen and (max-width: 283px) {
  body {
    width: 283px;
  }
}

@media screen and (min-width: 500px) {
  .flex-container {
    width: 500px;
  }
}
